<% content_for :head do %>
  <%= stylesheet_link_tag '/stylesheets/messages' %>
<% end %>

<% content_for :script do %>
  <%= javascript_include_tag '/javascripts/chat_plugin' %>
  <script>
    //jwt token
    const userInfo = JSON.parse(localStorage.getItem('user_info'));
    // Conectar al endpoint WebSocket
    const protocol = window.location.protocol === 'https:' ? 'wss:' : 'ws:';
    const wsUrl = protocol + '//' + URLS.CHAT_WS_SERVICE + 'ws/chat?token=' + localStorage.getItem('jwtChatToken');

    const chat = new ChatPlugin({
      socketUrl: wsUrl,
      userInfo: userInfo,
      receiverIdDOM: "receiverName",
      receiverListDOM: "conversations-list",
      btnSendDOM: "send-button",
      inputMessageDOM: "message-input",
      messagesListDOM: "chat-messages",
      receivers: {
        fetchURL: `${URLS.BASE}api/v1/messages/${userInfo.id}/recipients`,
        keyId: 'id', 
        keyName: 'full_name', 
        keyImage: 'image_url', 
        imageBaseURL: URLS.FILES_SERVICE
      },
      jwtChatToken: localStorage.getItem('jwtChatToken'),
    });
    chat.init(); 
  </script>
<% end %>

<div class="mt-4">
  <h1>
    <i class="fa fa-envelope me-2"></i> Bandeja de Mensajes - <span id="receiverName"></span>
  </h1>
  <hr>
</div>

<!-- Contenedor principal del chat -->
<div class="chat-container">
  <!-- Lista de conversaciones (30%) -->
  <div class="conversations-list" id="conversations-list">
    <!-- Conversación activa -->
  </div>
  <!-- Área de chat (70%) -->
  <div class="chat-area">
    <!-- Mensajes -->
    <div class="chat-messages" id="chat-messages">
    </div>
    <!-- Input fijo -->
    <div class="chat-input-area">
      <input type="text" id="message-input" placeholder="Escribe un mensaje..." />
      <button id="send-button">
        <i class="fa fa-paper-plane"></i>
      </button>
    </div>
  </div>
</div>

