<% content_for :head do %>
  <style>
    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }
    th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }
    th {
      background-color: #f4f4f4;
    }
    tr:nth-child(even) {
      background-color: #f9f9f9;
    }
  </style>
<% end %>

<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<h1>Iniciar Sesi칩n</h1>
    
<form method="POST" action="/sign-in" enctype="application/x-www-form-urlencoded"> 
  <!-- Usuario -->
  <div>
    <label for="username">Usuario:</label>
    <input type="text" id="username" name="username" required>
  </div>
  <!-- Contrase침a -->
  <div>
    <label for="password">Contrase침a:</label>
    <input type="password" id="password" name="password" required>
  </div>
  <!-- Bot칩n de Submit -->
  <button type="submit">Acceder</button>
</form>

<table id="tickets-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Creado</th>
      <th>Actualizado</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>

<% content_for :footer do %>
  <%= javascript_include_tag '/dist/app' %>
<% end %>