<h1 class="mt-4 mb-4">Bienvenido al Dashboard</h1>

<div class="row">
  <div class="col-md-3">
    <div class="card text-white bg-primary mb-3">
      <div class="card-body">
        <h5 class="card-title">Usuarios</h5>
        <p class="card-text fs-4">12,300</p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card text-white bg-success mb-3">
      <div class="card-body">
        <h5 class="card-title">Ventas</h5>
        <p class="card-text fs-4">$32,400</p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card text-white bg-warning mb-3">
      <div class="card-body">
        <h5 class="card-title">Pendientes</h5>
        <p class="card-text fs-4">45</p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card text-white bg-danger mb-3">
      <div class="card-body">
        <h5 class="card-title">Alertas</h5>
        <p class="card-text fs-4">3</p>
      </div>
    </div>
  </div>
</div>

<div class="mt-4">
  <h4>Últimas actividades</h4>
  <ul class="list-group">
    <li class="list-group-item">Usuario "Pepe" inició sesión</li>
    <li class="list-group-item">Se registró un nuevo cliente</li>
    <li class="list-group-item">Tarea completada: Actualización de datos</li>
  </ul>
</div>